.input-group {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.input-group-btn {
    background-color: #ccc;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
}

.btn-left {
    border-radius: 4px 0 0 4px;
}

.btn-right {
    border-radius: 0 4px 4px 0;
}

.form-control {
    border-radius: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    padding: 8px 16px;
    width: 100%;
}

.ajustgrid {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gridContainer {
    width: 90%;
    border: 2px solid;
    box-shadow: 10px 20px #888888;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    justify-items: center;
}

.imageColumn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageColumn img {
    min-width: 600px;
    min-height: 500px;
    max-width: 600px;
    max-height: 500px;
}

.textColumn {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textColumn h1 {
    margin-top: 0;
}