.inputGroup{
    margin-bottom: 20px;
}

.inputCount{
    max-width: 30px;
    padding: 8px 20px;
    text-align: center;
}

/* Para deshabilitar los botones steps del input tipo numero */
.inputCount::-webkit-outer-spin-button,
.inputCount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputCount {
  appearance: textfield;
}