.container {
  padding-top: 6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  text-align: center;
}

.buttonback {
  padding-bottom: 2rem;
  width: 50%;
  display: flex;
  padding-left: 3rem;
}
