.container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 0;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    z-index: 100;
    min-height: 4.5rem;
    max-height: 5rem;
}

.logo{
    margin-left: 10px;
    width: 30%;
}

.logo img{
    width: 60%;
    height: 10%;
    display: block;
    position: relative;
}

.menu{
    display: flex;
    float: right;
    padding-top: 1rem;
}

.menu button{
    cursor: pointer;
    display: inline;
    float: right;
    color: white;
}

.menu button:hover{
    background-color:cornflowerblue;
}
