body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("../src/assets/Fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
}

a {
  color: inherit;
  text-decoration: none;
}

.fondo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgba(190, 184, 184, 0.63);
  min-height: 96vh;
}
